
header {
  background-color: $footer-background-color;
  min-height: 120px;

  .main-container {
    background: $fire-gradient;
    border-radius: 3em;

    .search-response-container {
      position: relative;
    }

    input {
      background: transparent;
      color: $main-color;
      border: none;

      &:focus, &:active {
        background: $fire-gradient;
        color: $main-color;
        border: none;
        box-shadow: none;
      }

      &::placeholder {
        color: $main-color;
      }
    }
  }
}
