
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }} mt-4" role="alert">
            {{ message|raw }}
        </div>
    {% endfor %}
{% endfor %}
