
{% if containerClass is not defined %}
    {% set containerClass = 'col-4' %}
{% endif %}

<div class="{{ containerClass }}">
    <div class="card-game-container">
        <img src="{{ game.thumbnailCover }}">
    </div>
    <div class="d-flex justify-content-between">
        <div>
            <p class="card-game-name">{{ game.name }}</p>
        </div>
        <div>
            {{ game.price }}€
        </div>
    </div>
</div>
