{% extends 'front/base.html.twig' %}

{% block body %}

    {{ user.name }}

    <p>Temps de jeu total : {{ getUserTimeConverter(user) }}</p>

    <h1>Ses jeux</h1>
    <div class="row">
        {% for uog in user.userOwnGames %}

            <p>{{ uog.gameTime|time_converter }}</p>

            {% include 'front/partial/_game_card.html.twig' with
                {
                    'game': uog.game,
                }
            %}
        {% endfor %}
    </div>

{% endblock %}
