{% extends 'back/base.html.twig' %}

{% block title %}
    {{ 'back.pages.game.new.title'|trans }}
{% endblock %}

{% block body %}

    <div class="d-flex my-4">
        <a class="main-link my-auto me-3" href="{{ path('app_admin_game_index') }}">
            <i class="fa fa-arrow-left fa-2x"></i>
        </a>
        <h1 class="my-4">{{ 'back.pages.game.new.title'|trans }}</h1>
    </div>

    {{ include('back/pages/game/_form.html.twig') }}
{% endblock %}
