{% extends 'front/base.html.twig' %}

{% block title %}
    Onglet nav
{% endblock %}

{% block leogout_seo %}
    <meta name="description"
          content="instant-faking.com : Achat en ligne de jeux vidéos dématérialisés">
{% endblock %}

{% block body %}

    <h1 class="text-center">Instant-Faking</h1>

    <a href="{{ path('app_category_new') }}">
        Créer une catégorie
    </a>

    <a href="{{ path('app_category_show', {'id': 10}) }}">
        Voir la catég 10
    </a>

{% endblock %}
