{% extends 'front/base.html.twig' %}

{% block title %}
    Onglet nav
{% endblock %}

{% block leogout_seo %}
    <meta name="description"
          content="instant-faking.com : Achat en ligne de jeux vidéos dématérialisés">
{% endblock %}

{% block body %}

    <a href="{{ path('app_category_show', { 'id': 10 }) }}">
        Voir la catégorie 10
    </a>

    <h1 class="text-center">Instant-Faking</h1>

    <h2 class="mt-5 mb-4">Les tendances</h2>

    <div class="row">
        {% for trendGame in tendances %}
            {% include 'front/partial/_game_card.html.twig' with
                {
                    'game': trendGame,
                }
            %}
        {% endfor %}
    </div>

    <h2 class="mt-5 mb-4">Les dernières sorties</h2>

    <div class="row">
        {% for game in lastGames %}
            {% include 'front/partial/_game_card.html.twig' with
                {
                    'game': game,
                }
            %}
        {% endfor %}
    </div>

    <div class="row">
        {% for review in lastReviews %}
            <div class="col-3">
                <p>{{ review.game.name }}</p>
                <p>{{ review.content }}</p>
                <p>{{ review.user.name }}</p>
            </div>
        {% endfor %}
    </div>

    <h2 class="mt-5 mb-4">Les meilleures ventes</h2>

    <div class="row">
        {% for game in bestSellers %}
            {% include 'front/partial/_game_card.html.twig' with
                {
                    'game': game,
                }
            %}
        {% endfor %}
    </div>

{% endblock %}
