<header>

    <div class="h-100">
        <div class="row h-100">
            <div class="col-2 my-auto">
                <a class="main-link" href="{{ path('app_home') }}">
                    <i class="fa-brands fa-steam fa-7x"></i>
                </a>
            </div>

            <div class="col-lg-2 col-auto  my-auto">
            </div>

            <div class="col-lg-4 col-md-8 col-sm-8 my-auto">
                <div class="main-container p-3">
                    <input type="text"
                           class="form-control"
                           placeholder="Starcraft, FPS, ..."
                           data-search-bar
                    >
                </div>
            </div>

            <div class="col-lg-4 col-md-2 col-sm-2 my-auto">
                <a class="main-link" href="{{ path('app_profile_register') }}">
                    Inscription
                </a>
            </div>
        </div>
    </div>

</header>
